@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --black-primary: #0B0B0B;
  --green-sage: #7F8F86;
  --green-olive: #4F5A54;
  --green-grey: #6F7A73;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6F7A73;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
